<h1>WHO DIS HERE?</h1>
<table class="scoreboard">
    <thead>
        <th class="leaders" scope="col">Rank</th>
        <th class="leaders" scope="col">Name</th>
        <th class="leaders" scope="col">Score</th>
        </tr>
    <tbody>
        <tr class="leaderboardRow">
            <th scope="row">1</th>
            <td>{{user_name}}</td>
            <td>{{score}}</td>
        </tr>
        <tr class="leaderboardRow">
            <th scope="row">2</th>
            <td>{{user_name}}</td>
            <td>{{score}}</td>
        </tr>
        <tr class="leaderboardRow">
            <th scope="row">3</th>
            <td>{{user_name}}</td>
            <td>{{score}}</td>
        </tr>
    </tbody>
</table>


<div class="input-group mb-1">
    <input type="text" class="form-control" placeholder="Contestants Name">
    <div class="input-group-append">
        <button class="btn btn-dark" type="button" id="button-addon2">Let's Play</button>
    </div>
</div>