<h1>WHO DIS HERE?</h1>
<table class="scoreboard">
    <thead>
        <th class="leaders" scope="col">Rank</th>
        <th class="leaders" scope="col">Name</th>
        <th class="leaders" scope="col">Score</th>
        </tr>
    <tbody>
        <tr class="leaderboardRow">
            <th scope="row">1</th>
            <td>{{users.name}}</td>
            <td>{{users.score}}</td>
        </tr>
        <tr class="leaderboardRow">
            <th scope="row">2</th>
            <td>{{users.name}}</td>
            <td>{{users.score}}</td>
        </tr>
        <tr class="leaderboardRow">
            <th scope="row">3</th>
            <td>{{users.name}}</td>
            <td>{{users.score}}</td>
        </tr>
    </tbody>
</table>



<div class="questions">
    <div>
        <p>1) What is your middle name?</p>
        <input type="text" name="answer" placeholder="Your Answer Here">
    </div>
    <div>
        <p>2) Who is your celebrity crush?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>
    <div>
        <p>3) How old are you?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>
    <div>
        <p>4) What is your favorite color?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>
    <div>
        <p>5) Have you ever been arrested?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>
    <div>
        <p>6) What is your dream job?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>
    <div>
        <p>7) What is you favorite go to movie?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>
    <div>
        <p>8) What is your favorite current song?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>
    <div>
        <p>9) What is your favorite throwback song?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>
    <div>
        <p>10) What is your dream car?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>
    <div>
        <p>11) Where would you love to live?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>
    <div>
        <p>12) What is your favorite era?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>
    <div>
        <p>13) What is your favorite holiday?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>
    <div>
        <p>14) When is your birthday?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>
    <div>
        <p>15) What is your favorite food?</p>
        <input type="answer" method="POST" placeholder="Your Answer Here">
    </div>

</div>